
.invisible {
    display: none;
}
body {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 22;
        background-color: rgb(255, 255, 255);
        color: rgb(47, 47, 55);
}

.breed-select {
    width:auto;
    margin-bottom: 16px;
}

.cat-info {
    width: auto;
}

@media screen and (min-width:768px) {
    .cat-info {
        display: flex;
        gap:16px;
    }
    .breed-select {
        width: 600;
        margin-bottom: 16px;
    }
}
.breed-name {
    margin-top: 0;
}

.breed-temperament {
    font-weight: 700;
}
